
__pycache__/
*.py[cod]
*$py.class


build/
dist/
*.egg-info/
.eggs/
*.egg
pip-wheel-metadata/


.venv/
venv/
env/
ENV/


.mypy_cache/
.pytest_cache/
.ruff_cache/
.pyre/
.tox/
.nox/
.coverage
.coverage.*
htmlcov/


.vscode/
.idea/
.DS_Store


.env
.env.*
*.local
config.json


.ipynb_checkpoints/


uploads/


*.log

scalers/

.venv_pcap/

*.zip

*.pcap
*.pcapng
!demo_tls.pcapng

